HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/wrapper/maven-wrapper.properties
/data/diagnostic.data/metrics.2024-06-21T16-55-21Z-00000
/data/diagnostic.data/metrics.2024-06-21T16-55-25Z-00000
/data/journal/WiredTigerLog.0000000002
/data/journal/WiredTigerPreplog.0000000001
/data/journal/WiredTigerPreplog.0000000002
/data/_mdb_catalog.wt
/data/collection-0-6464169705743793079.wt
/data/collection-0--26471864295906903.wt
/data/collection-2--26471864295906903.wt
/data/collection-4--26471864295906903.wt
/data/collection-7--26471864295906903.wt
/data/index-1-6464169705743793079.wt
/data/index-1--26471864295906903.wt
/data/index-3--26471864295906903.wt
/data/index-5--26471864295906903.wt
/data/index-6--26471864295906903.wt
/data/index-8--26471864295906903.wt
/data/index-9--26471864295906903.wt
/data/mongod.lock
/data/sizeStorer.wt
/data/storage.bson
/data/WiredTiger
/data/WiredTiger.lock
/data/WiredTiger.turtle
/data/WiredTiger.wt
/data/WiredTigerHS.wt
